body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.logo-wrapper {
    padding-top: 63px;
    padding-bottom: 38px;
}
.logo {
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}
.logo-highlighter {
    color: #4bcaff;
}
.nav-list {
    background-color:#35444F;
    height: 72px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.nav-list-item {
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid #FFFFFF;
    }
.nav-list-item-finite {
    border-right: 1px solid #FFFFFF;
}
.nav-list-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 26px 36px 19px 36px;
}
.nav-list-item :hover {
    background-color: #222F3A;
}
.section-main {
   display: flex;
}
.aside-wrapper {
    height: 35%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.left-menu-item {
    width: 246px;
    padding: 26px 44px;
}
.left-menu-link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.left-menu :hover {
    background: #DBDBDB;
    color: #35444F;
}
.left-menu-item :hover {
    padding-left: 62px;
}
.main-content {
    margin-left: 52px;
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.main-banner {
    overflow: hidden;
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.main-banner :hover {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.main-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 34px;   
}
.footer-menu {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu-wrap {
    display: flex;
    margin-bottom: 30px;
}
.footer-menu-item {
    display: inline-block;
    padding: 20px 0px 21px 40px;
}
.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu-link :hover {
    color: #3188AB;
    text-decoration: underline solid #3188AB;
}
.footer-coppyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 25px 20px 21px 50px;
}